---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Feedback from "../components/Feedback.jsx";
import feedbackData from "../data/FeedbackData.js";
---

<Layout
  title="Отзывы о турах | Jasmine Tours & Events"
  description="Читайте отзывы довольных клиентов об экскурсиях и турах по Амстердаму и Нидерландам с гидом Зарой."
>
  <Navbar />
  <main>
    <Feedback feedbackData={feedbackData} client:load />
  </main>
  <Footer />
</Layout>
