.carousel-dark .rounded-circle {
  width: 150px; /* Adjust the width to your preference */
  height: 150px; /* Ensure the height matches the width */
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular */
}

@media (max-width: 991px) {
  /* Center the image */
  .carousel .carousel-item img {
    margin: 0 auto;
    display: block;
  }

  /* Hide carousel control arrows */
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
