.carousel-dark .rounded-circle {
  width: 150px;
  height: 150px; 
  object-fit: cover;
  border-radius: 50%;
}

.carousel-dark .carousel-indicators {
  display: none;
}

.review-item {
  height: 25em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: grey;
  border-radius: 20%;
  border-color: white;
}

@media (max-width: 991px) {
 
  .carousel .carousel-item img {
    margin: 0 auto;
    display: block;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .review-item {
  height: fit-content;
}
}
