.carousel-caption-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-caption-bg {
  background-color: rgba(200, 200, 200, 0.385);
  padding: 20px;
  border-radius: 5px;
}

.carousel-caption-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption-content p {
  font-size: 16px;
  color: #333;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .carousel-caption-content h3 {
    font-size: 20px;
  }

  .carousel-caption-content p {
    font-size: 14px;
  }
}
