---
import zaraProfile from "../assets/Zaraprofile.jpg";
---

<div class="main-custom-bg">
  <div class="container">
    <div class="main-content">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center main-text">
          <h2>Немного обо мне</h2>
        </div>
      </div>
      <div class="row align-items-center g-4">
        <div class="col-md-5 text-center">
          <img
            src={zaraProfile.src}
            alt="Зара - гид по Амстердаму"
            class="img-fluid thumbnail custom-shadow"
          />
        </div>
        <div class="col-md-7">
          <h4 class="subtitle">Откройте Амстердам вместе с Зарой</h4>
          <p class="content-text">
            Приветствую вас! Меня зовут Зара, и я живу в Амстердаме уже 5 лет. В
            этом прекрасном городе я стала профессиональным гидом и организую
            индивидуальные и групповые экскурсии по Нидерландам для
            русскоязычных туристов. Если вы хотите погрузиться в местную
            культуру и историю, то я готова с удовольствием провести вас через
            это невероятное путешествие, предоставив интересную экскурсионную
            программу и языковую поддержку.
          </p>
          <p class="content-text">
            Во время экскурсии я расскажу вам множество удивительных фактов и
            легенд о городе, покажу знаменитые достопримечательности, и вы
            сможете окунуться в атмосферу этого удивительного места. Я
            сосредоточусь на ваших интересах и предпочтениях, чтобы каждый из
            вас получил незабываемые впечатления от поездки.
          </p>
          <p class="content-text">
            Не стесняйтесь задавать вопросы и делиться своими пожеланиями - ваше
            удовольствие от путешествия для меня превыше всего!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .main-custom-bg {
    background-color: #e1f3f8;
    padding: 4em 0;
  }

  .main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
  }

  .custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .thumbnail {
    border-radius: 8px;
    max-width: 450px;
    width: 100%;
    height: auto;
  }

  .main-text h2 {
    margin-bottom: 2em;
    font-size: 2.5rem;
  }

  .subtitle {
    margin-bottom: 1.5em;
    font-size: 1.75rem;
  }

  .content-text {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 1.25em;
    line-height: 1.7;
  }

  @media (max-width: 768px) {
    .main-custom-bg {
      padding: 2em 0;
    }

    .main-text h2 {
      font-size: 2rem;
      margin-bottom: 1.5em;
    }

    .subtitle {
      font-size: 1.5rem;
      margin-top: 1em;
    }

    .content-text {
      font-size: 1em;
      text-align: left;
    }

    .thumbnail {
      max-width: 100%;
    }
  }
</style>
