---
import LogoAnimation from "./LogoAnimation.jsx";
---

<nav class="navbar navbar-expand-lg navbar-custom-bg fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand custom-brand">
      <LogoAnimation client:load />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#basic-navbar-nav"
      aria-controls="basic-navbar-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="basic-navbar-nav"
    >
      <ul class="navbar-nav align-items-center" style="line-height: 2em;">
        <li class="nav-item">
          <a
            href="/excursions"
            class="nav-link text-decoration-none px-3 py-2 hover-effect custom-nav-link"
          >
            Экскурсии
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/events"
            class="nav-link text-decoration-none px-3 py-2 hover-effect custom-nav-link"
          >
            Мероприятия
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/reviews"
            class="nav-link text-decoration-none px-3 py-2 hover-effect custom-nav-link"
          >
            Отзывы
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/dental"
            class="nav-link text-decoration-none px-3 py-2 hover-effect custom-nav-link"
          >
            Дентал Туризм
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle custom-nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Связаться
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item custom-dropdown-icons"
                href="https://wa.me/c/31642221525"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-whatsapp fa-beat icon-margin m-2"></i>
                ВП
              </a>
            </li>
            <li>
              <a
                class="dropdown-item custom-dropdown-icons"
                href="https://www.instagram.com/jasmine.tours.amsterdam/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-instagram fa-beat icon-margin m-2"></i>
                ИН
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-custom-bg {
    background-color: #fed9ed;
    z-index: 1030;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .custom-nav-link {
    color: #63496c;
    position: relative;
    text-decoration: none;
  }

  .navbar-brand,
  .custom-brand {
    margin: 0;
    padding: 0;
  }

  .custom-dropdown-icons {
    color: #45324b;
  }

  .custom-dropdown-icons:hover {
    color: #fed9ed;
    background-color: #63496c;
  }

  .custom-nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #8c6699;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .custom-nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  @media (max-width: 480px) {
    .logo-animation {
      width: 10px;
      margin: 0;
      padding: 0;
    }
  }
</style>
